@font-face {
  font-family: 'GraphikLCG-light';

  src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
    url('./fonts/GraphikLCG-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLCG-semibold';

  src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
    url('./fonts/GraphikLCG-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-black: rgba(25, 28, 31, 1);
  --color-dark-gray: rgba(94, 100, 106, 1);
  --color-gray: rgba(131, 137, 143, 1);
  --color-mid-gray: rgba(194, 200, 205, 1);
  --color-light-gray: rgba(236, 239, 242, 1);
  --color-extralight-gray: rgba(246, 248, 250, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-dangerous: rgba(241, 54, 54, 1);
  --color-green-success: rgba(37, 205, 130, 1);
  --color-primary-disabled: rgba(171, 202, 230, 1);
  --color-primary-hover: rgba(57, 125, 255, 1);
  --color-primary: rgba(42, 108, 234, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'GraphikLCG-semibold';
  color: var(--color-white);
}

/* HEADER */

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/Lunch_atop_a_Skyscraper\ 1.jpg);
}

.header__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  opacity: 80%;
}

/* NAVIGATION */

.nav {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 121.6rem;
  padding: 2.4rem 1rem;
  z-index: 100;
}

.nav__logo {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.blueCircle {
  position: relative;
  z-index: 5;
  background-color: var(--color-primary);
}

.whiteCircle {
  position: relative;
  z-index: 4;
  left: -12px;
  background-color: var(--color-white);
}

.logo__text {
  font-size: 2rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 2.4rem;
}

.nav__link {
  font-family: 'GraphikLCG-light';
  font-size: 1.6rem;
  color: var(--color-white);
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

/* GREETING */

.header__greeting {
  position: absolute;
  z-index: 50;
  width: 74.8rem;
  left: calc(50vw - 37.4rem);
  top: calc(50vh - 16.7rem);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting__header {
  text-align: center;
  font-size: 5.4rem;
  margin-bottom: 1.8rem;
}

.greeting__text {
  text-align: center;
  font-family: 'GraphikLCG-light';
  font-size: 1.8rem;
  margin-bottom: 9.2rem;
}

.greeting__btn {
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  border-width: 0;
  background-color: var(--color-light-gray);
  font-family: 'GraphikLCG-semibold';
  color: var(--color-black);
  font-size: 2rem;
}
